
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&family=Paytone+One&display=swap');

body,h1,h2,h3,h4,h5,h6 {font-family: 'Carrois Gothic SC', sans-serif;}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: cyan;
}

.memorygamecontainer{
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  
}

.flip-card{
 width: calc(25% - 10px);
 height: calc(33.333% - 10px);
 margin: 5px;
 position: relative;
 transform: scale(1);
 transform-style: preserve-3d;
 transition: transform .2s;
 

}

.flip-card:active{

  transform: scale(.97);
  transition: transform .1s;


}

.flip-card.flip{
  transform: rotateY(180deg);

}

.front-face, 
.back-face{
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: plum;
  backface-visibility: hidden;
  
}

.front-face{

  transform: rotateY(180deg);

}

.moves {
	margin: 20px 0 20px 0;
	font-size: 25px;
}

.timer {
	margin: 20px 0 20px 0;
	text-align: left;
	font-size: 25px;
}



#chronoExample {
  width: 50px;
  height: 50px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  font-size: 1.5em;
  font-family: 'Carrois Gothic SC', sans-serif;
}

.values{
  font-family: 'Carrois Gothic SC', sans-serif;
  font-size: 3em;

}


.startButton {
  padding: 30px;
  border-radius: 30%;
  background: darkblue;
  font-size: 1.25em;
  color: white;

  font-family: 'Carrois Gothic SC', sans-serif;
 
}


.stopButton {
  padding: 30px;
  border-radius: 30%;
  background: darkblue;
  font-size: 1.25em;
  color: white;
 
  font-family: 'Carrois Gothic SC', sans-serif;
 
}